.adminMain{

}
.adminLogin{

}
.loginTitle{

}
.loginEmail{

}
.loginPassword{

}
.loginButton{

}
.loginInput{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
}
.loginButtonStyle{
    color: white;
    background-color: #282560;
    border-radius: 5px;
    border: none;
}
.loginButtonStyle:hover{
    background-color: #282590;
}