/* Dropdown Button */
.dropbtn {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    background-color: transparent;
    padding: 0.75rem;
    font-size: 32px;
    border: none;
    cursor: pointer;
}
.dropbtn:active{
    background-color: #0005;
}

.myInput {
    box-sizing: border-box;
    color: black;
    background-position: 14px 12px;
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

.myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    justify-content: center;
    display: flex;
}

#dropdown1{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 3px solid #282560;
}

#dropdown2{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 3px solid #282560;
}

#dropdown3{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 3px solid #282560;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 6.5rem;
    max-height: 200px;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    overflow-y: auto;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

@media (max-width: 639px) {
    .dropbtn{
        display: none;
    }
}