.dropbtn {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    background-color: #282560;
    height: 80px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:active {
    background-color: #0005;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #0005;
}

.myInput {
    box-sizing: border-box;
    color: black;
    background-position: 14px 12px;
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

.myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#dropdown1, #dropdown2, #dropdown3 {
    position: absolute;
    top: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 3px solid #282560;
    max-height: 200px;
    width: 300px;
    overflow-y: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown.show .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.burger-menu {
    display: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
}

.user-navigation{
	display: flex;
	flex-direction: row;
}

@media (max-width: 650px) {

    #dropdown1, #dropdown2, #dropdown3 {
        width: 100%;
    }

    .myInput {
        width: 100%;
    }

    .dropbtn {
        display: block;
        width: 100%;
        text-align: center;
    }

    .dropdown {
        display: flex;
        width: 100%;
    }

    .burger-menu {
        display: block;
        font-size: 32px;
        cursor: pointer;
        color: #ffffff;
        position: absolute;
        right: 1rem;
    }

    .user-navigation {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #282560;
        position: fixed;
        left: 0;
        z-index: 1000;
        align-items: flex-start;
    }

    .user-navigation.show {
        display: flex;
    }
}