.kurssMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: clamp(15rem, 100%, 50rem);
    margin-bottom: 2rem;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.kurssMain p {
    font-size: 18px;
    font-weight: bold;
}

.datums {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: clamp(8px, 4vw, 18px);
    font-weight: bold;
    color: #282560;
}

.header {
    color: #282560;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.kurssTable {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kurssTable h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #282560;
}

.stundas {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stundas:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.skaitlis {
    width: 30px;
    font-weight: bold;
    font-size: 16px;
    color: #282560;
}

.laiks {
    width: 150px;
    font-size: 16px;
    color: #282560;
}

.stunda {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    color: #282560;
}

.pasniedzejs {
    width: 200px;
    font-size: 16px;
    color: #282560;
}

.kabinets {
    width: 100px;
    font-size: 16px;
    color: #282560;
}

@media (max-width: 768px) {
    .kurssMain {
        padding: 10px;
    }

    .stundas {
        flex-direction: column;
        align-items: flex-start;
    }

    .skaitlis, .laiks, .stunda, .pasniedzejs, .kabinets {
        width: 100%;
        margin-bottom: 5px;
    }

    .datums {
        width: 15rem;
    }
}

/* Dark mode styles for kurss */

body.dark-mode .datums, body.dark-mode .header, body.dark-mode .kurssTable h3 {
    color: white;
}

body.dark-mode .stundas {
    background: #2c2c2c;
    border: 1px solid #444444;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode .stundas:hover {
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}

body.dark-mode .skaitlis, body.dark-mode .laiks, body.dark-mode .stunda, body.dark-mode .pasniedzejs, body.dark-mode .kabinets {
    color: white ;
}