.laikimain{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.pirmdiena, .piektdiena{
    display: flex;
    flex-direction: column;
}

.classTime{
    display: flex;
    flex-direction: row;
    font-size: 28px;
    text-align: justify;
}

.classTitle, .breakTitle{
    color: #282560;
}

.classTitle{
    padding-right: 20px;
}

.pusdTime{
    display: flex;
    flex-direction: column;
    font-size: 28px;
}

.titleb{
    display: flex;
    justify-content: center;
    font-size: 32px;
    text-decoration: #282560 underline;
    color: #282560;
}

body.dark-mode .classTitle,
body.dark-mode .breakTitle {
    color: white; 
}

body.dark-mode .titleb {
    color: white;
    text-decoration: white underline;
}

@media (max-width: 1500px) {

    main {
        margin-bottom: auto;
        justify-content: center;
    }

    .titleb{
        font-size: 25px;
    }

    .classTime, .pusdTime{
        font-size: 20px;
    }
}

@media (max-width: 640px) {
    main {
        margin-right: 0;
        margin-left: 0;
        margin: 2rem;
    }

    .laikimain{
        width: auto;
        flex-direction: column;
    }

    .pirmdiena, .piektdiena{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .titleb{
        font-size: 25px;
    }

    .classTime, .pusdTime{
        font-size: 18px;
    }

    .classTitle{
        padding-right: 10px;
    }
}