
.pasniedzejsMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
}

.pasniedzejsMain p {
    font-size: 18px;
    font-weight: bold;
}

.pasniedzejsTable {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.skaitlis {
    width: 30px;
    font-weight: bold;
    font-size: 16px;
}

.laiks {
    width: 150px;
    font-size: 16px;
    color: #555;
}

.stunda {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.pasniedzejs {
    width: 200px;
    font-size: 16px;
    color: #555;
}

.kabinets {
    width: 100px;
    font-size: 16px;
    color: #555;
}

@media (max-width: 768px) {
    .pasniedzejsMain {
        padding: 10px;
    }

    .skaitlis, .laiks, .stunda, .pasniedzejs, .kabinets {
        width: 100%;
        margin-bottom: 5px;
    }
}
