:root {
	font-weight: 400;
	font-family: sans-serif;
	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
.image{
	margin: 10px;
	margin-left: 20px;
}

main{
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 2rem;
    margin-bottom: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

body {
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	display: flex;
	justify-content: flex-start;
	background-color: #282560;
}

header nav {
	display: flex;
	font-size: 32px;
}

header a {
	display: flex;
	align-items: center;
	color: #ffffff;
	padding: 0.75rem;
	text-decoration: none;
}

header a.active {
	background-color: #0005;
}

footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #282560;
	width: 100%;
}
.titlep{
	text-decoration: none;
	color: white;
	font-size: 38px;
	font-family: sans-serif;
}
.admin-buttons{
	display: flex;
	flex-direction: row;
}
.user-navigation{
	display: flex;
	flex-direction: row;
}


