:root {
	font-weight: 400;
	font-family: sans-serif;
	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
.image{
	margin: 10px;
	margin-left: 20px;
	height: 50px;
}

main{
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 2rem;
    margin-bottom: auto;
	margin-top: auto;
    text-align: center;
    display: flex;
	align-items: center;
    justify-content: center;
}

body {
	margin: 0;
}

/* Dark mode styles */
.dark-mode-toggle {
	cursor: pointer;
	font-weight: bold;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .dropdown-content {
    background-color: #2c2c2c;
}

body.dark-mode .dropdown-content a {
    color: #ffffff;
}

body.dark-mode .dropdown-content a:hover {
    background-color: #3a3a3a;
}


#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	display: flex;
	height: auto;
	justify-content: flex-start;
	background-color: #282560;
}

header nav {
	display: flex;
	font-size: 16px;
}

header a {
	display: flex;
	align-items: center;
	color: #ffffff;
	padding: 0.75rem;
	text-decoration: none;
}

header a.active {
	background-color: #0005;
}

header a:hover {
	background-color: #0005;
}

.header-logo{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 76px;
}

footer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #282560;
	width: 100%;
}
.titlep{
	display: flex;
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-family: sans-serif;
}

.titlep-mobile{
	display: none;
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-family: sans-serif;
}

.datuma-selector{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.dateButton{
    background-color: #282560;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
	margin: 5px;
}

.dateButton:hover {
    background-color: #1f1b4d;
    transform: scale(1.05);
}

.dateButton:active {
    background-color: #16133a;
    transform: scale(0.95);
}

@media (max-width: 1500px) {
	main{
		margin-left: 5rem;
		margin-right: 5rem;
	}
}

@media (max-width: 640px) {
	main{
		margin-left: 0;
		margin-right: 0;
	}
	
	.titlep{
		display: none;
	}

	.titlep-mobile{
		display: flex;
	}
}
